.userPhoto {
    width: 75px;
    height: 75px;
}


.selectedPage {
    font-weight: bold;
    cursor: pointer;
}

.unSelectedPage {
    cursor: pointer;
}

.preloader {
    width: 75px;
    height: 75px;
}