.nav {
    grid-area: n;
    background-color: black;
    color: white;
    padding: 20px;
}

.item {
    color: whitesmoke;
}


.item a.active {
    color: gold;
}

.item a {
    color: whitesmoke;
    text-decoration: none;
}