.nav {
    grid-area: n;
    background-color: black;
    color: white;
    padding: 20px;
}

.item {
    color: whitesmoke;
}


.item a.active {
    color: gold;
}

.item a {
    color: whitesmoke;
    text-decoration: none;
}

.friends {
    margin-top: 15px;
    font-size: 25px;
}

.friendsNames {
    display: flex;
    font-size: 15px;
    margin-top: 4px;
}

.friendsNames img {
    width: 45px;
    height: 40px;
    border-radius: 30px;
}

