.description {
    padding: 10px;
}

.backImage {
    width: 100%;
}


.userAvatar {
    width: 75px;
    height: 75px;
}

.contact{
    padding-left: 10px;
}
.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}